name: Pymarkdownlnt
# Runs the workflow on the below events:
# 1. on pull request raised to trunk branch.
# 2. on push event to trunk branch.
on:
  push:
    branches:
      - trunk
  pull_request:
    branches:
      - trunk

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  lint-markdown:
    runs-on: ubuntu-latest
    name: Lint Markdown
    steps:
      - name: Set up Python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          python-version: 3.9 #install the python needed
      - name: checkout repo content
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Install and run linter
        run: |-
          python3 -m pip install --require-hashes -r tools/requirements.txt
          pymarkdownlnt -s 'plugins.md024.siblings_only=$!True' scan */*.md
